*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Tilt Neon', cursive;
}

/* UTILITY */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.txt-center{
    text-align: center;
}

.border-50{
    border-radius: 50%;
}

.txt-grey:hover{
    color: rgb(255, 255, 255)
}

/* COLORI */

.txt-white{
    color: white;
}

.txt-grey{
    color: rgb(255, 255, 255, 0.5);
}

.bg-main{
    background-color: rgb(20 25 34);
}

.bg-white{
    background-color: grey;
}

/* FINE SEZIONE COLORI */

/* SEZIONE POSIZIONE */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.flex-end{
    justify-content: flex-end;
}

.row{
    flex-direction: row;
}

.space-between{
    justify-content: space-between;
}

.space-arownd{
    justify-content: space-around;
}

.margin-left{
    margin-left: 1rem;
}

.margin-top{
    margin-top: 0.25rem;
}

.align-center{
    align-items: center;
}

.padding-bottom{
    margin-bottom: 15vh;
}

/* FINE SEZIONE POSIZIONE */

/* ASIDE */

aside{
    background-color: rgb(0 0 0);
    width: 15vw;
    height: 90vh;
    margin: 0;
}

aside div{
    margin-left: 0.5rem;
}

aside div ul li{
    width: 2rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
}

aside div ul li:first-child{
    margin-top: 0.5rem;
}

aside div ul li img{
    padding-right: 5px;
}

.txt-none{
    display: none;
}

.bg-grey{
    margin-top: 5px;
    background-color: rgb(255 ,255 ,255 ,0.5);
    padding: 5px;
}

.tiny{
    width: 2rem;
}

.profilo{
    background-color: grey;
    border-radius: 50%;
}

/* PARTE TRASPARENTE */

main section:first-child{
    width: 85vw
}

.trasparenza a{
    margin: 2vh;
    border: 1px  solid white;
    border-radius: 25px;
    padding: 10px;
}

.trasparenza{
    background-color: rgb(0 ,0 ,0 ,0.5);
    height: 8vh;
    width: 85vw;
    position: fixed;
}

/* PARTE SCROLLABILE */

#centro{
    margin-top: 10vh;
    overflow: scroll;
    height: 90vh;
    width: 90vw;
}

#pagine li{
    padding: 1rem;
}

#pagine li:first-child{
    padding-left: 1.25rem;
}

/* CONTENUTO PAGINA */

h2{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.overflow{
    height: 70vh;
    overflow-y: scroll;
}

.popolari{
    margin-top: 1rem;
}

/* CANZONI */

.canzoni{
    margin-top: 2rem;
}

.canzoni img{
    width: 90%;
}

.scheda{
    width: calc(100% / 2 - 5%);
}

/* FOOTER */

footer{
    background-color: rgb(40 40 40);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vh;
}

#rispodotta{
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-block;
}

#txt-riprodotto{
    padding-top: 2vh;
    text-align: left;
}

#preferiti{
    margin-left: 0.5rem;
}

#stat-song{
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    width: 30vw;
    height: 2px;
    display: flex;
}

#controllo i{
    padding-left: 0.5rem;
}

/* PER VERSIONE TABLET E PC MODIFICARE GRANDEZZA CARATTERE */

@media only screen and (min-width: 768px){

    aside div ul li:first-child{
        width: 30px;
    }

    aside div ul li{
        width: 30px;
    }

    .spoty{
        font-size: 2rem;
    }

    .txt-none{
        display: inline-block;
    }

    .playlist{
        padding-top: 20px;
    }

    .scheda{
        width: calc(100% / 6 - 5%);
    }

    #centro{
        width: 85vw;
    }
}

@media only screen and (min-width: 1024px){

    #ultime-icone{
        padding-bottom: 5%;
    }

    #artisti-consigliati{
        padding-top: 5%;
        padding-bottom: 5%;
    }
}